@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
    background-color: #001F5B;
}

.bg-intro {
    background-color: #001F5B;
    opacity: 0.9;
}

.bg-agents {
    background-color: #050d21;
}

.bg-footer {

    background-color: #06112a;
}

.text-primary {
    color: #001F5B;
}

.text-footer {
    color: #b5b8c0;
}

.text-links {
    color: #b5b8c0;
    transition: color;
    transition-duration: 300ms;
}

.text-links:hover {
    color: #001F5B;
}

.text-secondary {
    color: #6b7280;
}
